.App {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  align-content: center;	
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}
.App * {
  box-sizing: border-box;
}
.cell {
  border: 1px solid #e3e3e3;
}
